<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{!-- {{#if title}}
    <title>{{title}}</title>
    {{else}} --}}
    <title>MUSE</title>
    <link rel="icon" href="/images/logopng-after-trim.png" type="image/png">
    {{!-- {{/if}} --}}
   
</head>

<body>
    {{{body}}}
</body>

</html>