
body {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }
  #MUSE{
    font-size: 16px;
    cursor: pointer;
  }
  li{
    font-size: 16px;
  }
  .navbar {
    background-color: #70c280;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 50px  rgba(0, 0, 0, 0.35);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar_logo {
    display: flex;
    align-items: center;
    margin-left:10px;
  }
  
  .navbar_logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  
  .navbar_functions {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    margin-right: 10px;
  }
  
  .navbar_functions li {
    margin-left: 10px;

  }
  
  .navbar_functions a {
    color: #020202;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .navbar_functions .icon {
    margin-right: 5px;
  }
  #profile_icon{
    width: 25px;
  }
.navbar_functions #notification{
  margin-top:6px;
}

  #icon-container {
    display: none;
    position: absolute;
    top: 11%;
    right: 10%;
    
    /* display: flex; */
    flex-direction: column;
    z-index: 99;
    width: 400px;
    background-color: aliceblue;
    opacity: 0.95;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;

    word-wrap: break-word;
  
  
  }
  
  #notificationTop {
    text-align: center;
  }
  
  #notificationBottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    word-wrap: break-word;
  }
  
  .notifications {
    margin: 10px;
    border: 1px solid #bebebe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: left;

    word-wrap: break-word;
  }
  .UnreadNotification{
    margin-left: 10px;
  }
  .notifications:hover {
    background-color: #f6ffed;
    color: #87cba2;
  }
  .firstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
  #unReadComment {
    position: relative;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 15px;
    height: 15px;
    font-size: 1px;
    font-weight: bold;
    top: -30px;
    left: 10px;
    z-index: 1;
  }
  .contentLine{
  
    word-wrap: break-word;
    width: 90%;
  }
  
  .senderInformation{
    margin-left: 5px;
  }
  
  #notificationMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FFFBF2;
    width: auto;
    margin-top: 20px; /* 添加上边距 */
    margin-bottom: 20px; /* 添加下边距 */
    align-items: center; /* This will align the labels to the left */
    margin-bottom: 10px;
    
  }
  
  .title_text {
    width: 98.7%; 
    padding: 10px;
    border: 1px solid #c4c4c4;
    margin-top: 20px;
  }
  
  #editor {
    height: 500px;
    width: 90%;
    background-color:white;
    border: 1px solid #c4c4c4;
  }
  
  .submit_button {
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #70c280;
  }
  
  /* .submit_button:hover {
    background: #56996e;
  } */
  
  
  .input_group {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will align the labels to the left */
    width: 100%;
    margin-bottom: 30px;
  }
  .sub_group {
    width: 90%;
  }
  .title_hint {
    font-weight: bold;
  }
  .content_hint {
    font-weight: bold;
  }
  .upload-label {
    padding: 8px 12px;
    margin-top: 10px;
    color: black;
    padding: 10px;
    border: 1px solid #c4c4c4;
  }
  .upload_hint {
    font-weight: bold;
  }
  .edit_article_button {
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: #70c280;
  }
  #image {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
  }
  .image_hint {
    font-weight: bold;

  }